target
.checksum.txt
.ignore-checksum.txt
generated
bin
src-gen
plugin.xml_gen
#fornax-cartridges-sculptor-smartclient-bt
fornax-cartridges-sculptor-metamodel.edit
fornax-cartridges-sculptor-metamodel.editor
fornax-cartridges-sculptor-metamodel.tests
fornax-cartridges-sculptor-gwt-framework/.settings/
fornax-cartridges-sculptor-framework/.settings/
fornax-cartridges-sculptor-generator/.externalToolBuilders/
org.fornax.cartridges.sculptor.gui.dsl.tests
org.fornax.cartridges.sculptor.gui.dsl.edit
org.fornax.cartridges.sculptor.dsl.edit
org.fornax.cartridges.sculptor.dsl-update-site/artifacts.jar
org.fornax.cartridges.sculptor.dsl-update-site/content.jar
org.fornax.cartridges.sculptor.dsl.editor
org.fornax.cartridges.sculptor.gui.dsl.editor
org.fornax.cartridges.sculptor.dsl.tests
org.fornax.cartridges.sculptor.dsl/text/description.txt
org.fornax.cartridges.sculptor.gui.dsl/text/description.txt
